.container-table {
    
    padding: 20px;
    max-width: 900px;
}
  
  .container-table h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2e3f63; /* Color del texto */
  }
  
  .container-table .form {
    margin-top: 20px;
  }
  
  .container-table .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .container-table .form input[type="text"],
  .container-table .form input[type="checkbox"] {
    margin-bottom: 10px;
  }
  .container-table .form table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .container-table .form table th,
  .container-table .form table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .container-table .form table th {
    background-color: #2e3f63; /* Fondo del encabezado */
    color: #ffffff; /* Color del texto del encabezado */
  }
  
  .container-table .form table td {
    background-color: #ffffff; /* Fondo de las celdas */
  }
  .container-table input{
    padding: 5px;
    box-sizing: border-box;
  }
  .container-table .form select {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .container-table .form select:focus{
    outline: none;
  }
  .container-table .form table td input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .container-table input:focus{
    outline: none;
  }
  
  .container-table .form table td input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  .container-table .form button {
    background-color: #2e3f63; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .container-table .form button:hover {
    background-color: #1c293f; /* Cambio de color al pasar el cursor sobre el botón */
  }